.gross {
    margin-top: 3rem; 
}

.h11{
    color: rgb(197, 197, 9);
    border-bottom: 2px solid gray;
}

.grossbox {
    margin-top: 4rem;
    margin-left: 500px;
}

.box{
    text-align: center;
    background-color: rgb(177, 160, 6);
    margin-bottom: 3px;
    width: 450px;
}